@import "../../scss/_mixins.scss";
@import "../../scss/variables.scss";



.type {
  font-size: clamp(0.55em, 2vw, 1em);
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: $font-weight;
  margin-top: 30px;
}

.wrapper {
  width: 10em;
  height: 9em;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &::before, &::after {
    content: "";
    @include translate-middle(0%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $dark-blue;
    z-index: 100;
  }
  &::after {
    left: 100%;
  }

  .top {
    width: 100%;
    height: 50%;
    background: $blue;

    &.top_flip {
      animation: topFlip 150ms ease-in;
      transform-origin: bottom;
    }

    @keyframes topFlip {
      100% {
        transform: rotateX(90deg);
      }
    }
  }

  .bottom {
    width: 100%;
    height: 50%;
    background: $dark-desaturated-blue;
    border-top: 2px solid $very-dark-blue;

    &.bottom_flip {
      animation: bottomFlip 150ms ease-in 150ms;
      transform: rotateX(90deg);
      transform-origin: top;
    }
     
    @keyframes bottomFlip {
      100% {
        transform: rotateX(0deg);
      }
    }
  }
 
  .value {
    font-size: clamp(2.2em, 8vw, 4.8em);
    color: $soft-red;
    font-weight: $font-weight;
    @include translate-middle(50%);
    z-index: 10;
  }
}

@media (max-width: 750px) {
  .type {
    letter-spacing: 5px;
  }

  .wrapper {
    width: 8em;
    height: 7em;
  }
}

@media (max-width: 550px) {
  .wrapper {
    width: 6em;
    height: 5em;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 5.5em;

    &::before, &::after {
      width: 15px;
      height: 15px;
    }
  }
}

@media (max-width: 400px) {
  .wrapper {
    width: 5em;
    height: 4.5em;
  }
}
