@import "../../scss/_mixins.scss";
@import "../../scss/variables.scss";


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background-image: url("../../images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .social_media {
    img {
      width: 25px;
      height: 25px;
      margin: 0 15px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
