@import "../../scss/_mixins.scss";
@import "../../scss/variables.scss";


footer {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  max-width: $max-width;

  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 25%;

    .social_media {
      list-style: none;
      cursor: pointer;
      color: transparent;
      margin: 0 15px;
      
      img {
         transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
