// Mixins

@mixin align-flex($justify-value) {
  display: flex;
  justify-content: $justify-value;
  align-items: center;
}

@mixin img-resize($width) {
  width: $width;
  object-fit: cover;
  height: 100%;
}

@mixin translate-middle($left) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: translate(-50%, -50%);
}