@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');


// Colors

$primary:  #8486a9;
$soft-red: #fb6087;
$dark-purple: #431c53;

$white: #ffffff;
$dark-desaturated-blue: #343650;
$blue: #282938;
$dark-blue: #1e1f29;
$very-dark-blue: #191a24;



// Typography

$font-fam: "Red Hat text", sans-serif;
$font-size: 14px;
$font-weight: 700;



// Width 

$max-width: 1440px;